<%- include('./header') %>
    <style>
      body {
        margin: 0px;
    }
    .sidebar {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        width: 20%;
        height:100%;
        background-color: rgb(236, 232, 232);
        position: absolute;
      }
      .collection {
        display: flex;
        flex-direction: column;
        padding: 50px;
      }
      a {
        padding: 3px;
        color: black;
        text-decoration: none;
      }
      .products {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        left: 20% !important;
        width:70%;
        height: 100%;
        background-color: rgb(152, 152, 152);
        position: absolute;
        padding: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav {
        background-color: rgb(196, 196, 196);
        height: 70px;
        text-align: left;
        align-content: center;
        padding: 10px !important;
        display:ruby-text;
        position: static !important;
    }
    .nav img {
        height: 60px;
        border: 1px solid black;
        border-radius: 100px;
    }
    .logoutButton{
        /* width: 150px; */
        left: 93%;
        position: absolute;
        padding: 15px;
        border: none;
        color: white;
        background-color: rgb(0, 125, 84);
        border-radius: 10px;
        align-self: center;
        top: 3%;
      }
      input{
        width: 250px;
        padding: 10px;
        border-radius: 5px;
        border: none;
      }
      .panel button{
        min-width: fit-content;
        padding: 13px;
        background-color: rgb(0, 60, 211);
        border-radius: 5px;
        border: none;
        font-weight: bold;
        color: white;
      }
    </style>
  
  <body>
    <nav>
        <div class="nav">
            <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzSa0_z47xMCQstx5AUS2BGiWd0f4Rxnvs1Q&s"
            alt="image"
            srcset=""
            style="float: left"
            />
            <a href="/logout"  class="logoutButton">Logout</a>
        </div>
    </nav>
    <div class="sidebar">
        <div class="collection">
            <a href="">All Products</a>
            <a href="">Create new products</a>
        </div>
    </div>
    <div class="products">
        <h1>Create New Product</h1>
        <h3 style="font-weight: bold;" >Product Detail</h3>
        <h4>Product Image</h4>
        <div class="items">
           <form action="/product/create" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="image" ><br><br>
            <input type="text" name="name" id="name" placeholder="Product Name">
            <input type="text" name="price" id="price" placeholder="Product Price"><br><br>
            <input type="text" name="discount" id="discount" placeholder="Discount Price"><br><br>
            <div class="panel">
                <h3 style="font-weight: bold;">Panel Detail</h3>
                <input type="text" name="bgColor" id="bgcolor" placeholder="Background Color">
                <input type="text" name="panelColor" id="panelColor" placeholder="Panel Color"><br><br>
                <input type="text" name="textColor" id="textColor" placeholder="Text Color"><br><br>
                <button type="submit">Create New Product</button>
            </div>
           </form>

        </div>
    </div>
  </body>

