<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vibha Stree</title>
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
  <nav class="bg-white flex drop-shadow-2xl justify-between items-center">
    <a href="/" class="m-0"><img class="m-0 h-20 w-100" src="/images/vibha-stree.png" alt="image" srcset=""></a>
    <form action="/product-display" method="post" class="flex-grow flex justify-center m-0">
        <div class="relative w-96">
            <input type="text" class="w-96 bg-transparent border-t-0 border-r-0 border-l-0 border-b-2 focus:outline-none  rounded-none" placeholder="Search for products and more" name="search">
            <button type="submit" class="absolute right-0 top-0  px-4"><i class="fa fa-search"></i></button>
        </div>
    </form>
    <div class="pages" class="float-right content-center flex "> 
        <a class="text-black text-xl pl-8" href="/products">Shop</a>
        <a class="text-black text-xl pl-8" href="/cart">Cart</a>
        <a class="text-black text-xl pl-8 " href="/profile">Profile</a>
        <% if (isAlreadyLoggedIn) { %>      
          <a href="/login" class="logoutButton w-40 h-20 bg-blue-600 p-3 rounded-md text-white text-xl m-6">Login</a>
          <% } else { %>
            <a href="/logout" class="logoutButton w-40 h-20 bg-blue-600 p-3 rounded-md text-white text-xl m-6">Logout</a>
        <% } %>
      </div> 
</nav>

</body> 
</html>