<%- include('./header') %>
    <style>
        body{
            margin: 0% ;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="padding: 0%;"> 
            <div class="banner-image">
                <img src="../public/images/saffron-robes-indian-illustratio.jpg" alt="" srcset="">
            </div>
        </div>
    </div>
</body>
</html>